# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build
/.gitattributes
/FlinkHelloWorld.iws
/FlinkHelloWorld.ipr
/FlinkHelloWorld.iml
/out/
/FlinkHelloWorld.test.iml
/FlinkHelloWorld.main.iml
